<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${title}">Title</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" 	href="../../css/bootstrap.min.css" />
</head>
<body>
<div th:replace="navigation :: header"></div>
<div class="container">
		<h1 th:text="${title}">Title</h1>
		<div th:text="${message}">Fake content</div>
		<div id="created" th:text="${#dates.format(date)}">July 11,
			2012 2:17:16 PM CDT</div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
	</div>
</body>
</html>
