<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
        >
<h:head>
    <h:outputStylesheet library="css" name="table-style.css"/>
</h:head>
<h:body>
    <h:panelGrid columns="2" styleClass="panel">
        <h:dataTable value="#{repository.products}" var="product"
                     styleClass="order-table"
                     headerClass="order-table-header"
                     rowClasses="order-table-odd-row,order-table-even-row">

            <h:column>
                <f:facet name="header">Description</f:facet>
                #{product.description}
            </h:column>

            <h:column>
                <f:facet name="header">Price</f:facet>
                <h:outputText value="#{product.pricePerItem}">
                    <f:convertNumber pattern="#0.00" locale="en_US"/>
                </h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header">Buy</f:facet>
                <h:form>    <!-- must have a form for evey JSF commandlink/button -->
                    <h:commandLink value="add to basket" action="#{basket.addItem(product, 1)}"/>
                </h:form>
            </h:column>

        </h:dataTable>
        <h:panelGrid columns="1">
            <h:dataTable value="#{basket.items.values()}" var="line"
                         styleClass="order-table"
                         headerClass="order-table-header"
                         rowClasses="order-table-odd-row,order-table-even-row">
                <h:column>
                    <f:facet name="header">Description</f:facet>
                    #{line.product.description}
                </h:column>

                <h:column>
                    <f:facet name="header">amount</f:facet>
                    #{line.amount}
                </h:column>
                <h:column>
                    <f:facet name="header">add</f:facet>
                    <h:form>
                        <h:commandLink value="+" action="#{basket.addItem(line.product, 1)}"/>
                    </h:form>
                </h:column>
                <h:column>
                    <f:facet name="header">remove</f:facet>
                    <h:form>
                        <h:commandLink value="-" action="#{basket.addItem(line.product, -1)}"/>
                    </h:form>
                </h:column>
            </h:dataTable>
            <h:panelGrid columns="2">
                Total: $<h:outputText value="#{basket.total}">
                    <f:convertNumber pattern="#0.00" locale="en_US"/>
                </h:outputText>
            </h:panelGrid>
        </h:panelGrid>
    </h:panelGrid>
</h:body>
</html>